<nav class="navbar navbar-expand-lg navbar-light bg-light box-shadow-nav p-3">
  <div class="container-fluid">
    <a class="navbar-brand"><img src="../../../assets/img/logo.png"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link fw-bold" aria-current="page" routerLink="/dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active fw-bold" aria-current="page" routerLink="/dashboard/verify">Account Verification</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-bold" aria-current="page" routerLink="/dashboard/report">Report</a>
        </li>
        <li class="nav-item" *ngIf="isAdmin">
          <a class="nav-link fw-bold" aria-current="page" routerLink="/dashboard/user">User Management</a>
        </li>
      </ul>
      <form class="d-flex">
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle p-2" type="button" id="dropdownMenuButton1" routerLink="/login"
            data-bs-toggle="dropdown" aria-expanded="false">
            Logout
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1"
            style="right: 0 !important;left: auto !important;">
            <li><a class="dropdown-item">Action</a></li>
            <li><a class="dropdown-item">Another action</a></li>
            <li><a class="dropdown-item">Something else here</a></li>
          </ul>
        </div>
      </form>
    </div>
  </div>
</nav>
<div class="p-5">
  <div class=" row">
    <div class="col-sm-6">
      <p class="pen-dr-to mb-3">Upload Excel or CSV Sheet</p>
      <p class="welcome-back"><b>Multiple.</b>Account verification module.</p>
      <div class="d-flex align-items-center mt-5">
        <img src="../../../assets/img/excel.png" class="excel-margin">
        <p class="pen-dr-to mb-3 excel-margin">Or</p>
        <img src="../../../assets/img/csv.png">
      </div>
         <p class="welcome-back file-selected"><b>No file Selected</b></p>
      <div class="mt-3 upload-account">
        <button class="btn btn-primary ">Upload Account Details</button>
      </div>
    </div>
    <div class="col-sm-6">
      <p class="pen-dr-to mb-3">Upload Excel or CSV Sheet</p>
      <p class="welcome-back"><b>Multiple.</b>Account verification module.</p>
      <div class="form-box row mt-5">
        <div class="mb-3 col-12">
          <label for="formGroupExampleInput" class="form-label mb-2 fw-bolder">Account Holder Name</label>
          <input type="text" class="form-control bac-form" id="formGroupExampleInput"
            placeholder="Example input placeholder">
        </div>
        <div class="mb-3 col-12">
          <label for="formGroupExampleInput" class="form-label mb-2 fw-bolder">Account IFSC Code</label>
          <input type="text" class="form-control bac-form" id="formGroupExampleInput"
            placeholder="Example input placeholder">
        </div>
        <div class="mb-3 col-12">
          <label for="formGroupExampleInput" class="form-label mb-2 fw-bolder">Account Number</label>
          <input type="text" class="form-control bac-form" id="formGroupExampleInput"
            placeholder="Example input placeholder">
        </div>
        <div class="mb-3 col-12">
          <label for="formGroupExampleInput2" class="form-label mb-2 fw-bolder">Re-type Account Number</label>
          <input type="text" class="form-control bac-form" id="formGroupExampleInput2"
            placeholder="Another input placeholder">
        </div>
        <div class="col-12 mt-3">
          <div class="d-flex justify-content-end align-items-center">
            <button class="btn btn-primary">Verify Account</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
