<nav class="navbar navbar-expand-lg navbar-light bg-light box-shadow-nav p-3">
    <div class="container-fluid">
      <a class="navbar-brand" ><img src="../../../assets/img/logo.png"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active fw-bold" aria-current="page" routerLink="/dashboard">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-bold" aria-current="page" routerLink="/dashboard/verify">Account Verification</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active fw-bold" aria-current="page" routerLink="/dashboard/report">Report</a>
          </li>
          <li class="nav-item" *ngIf="isAdmin">
            <a class="nav-link fw-bold" aria-current="page" routerLink="/dashboard/user">User Management</a>
          </li>
        </ul>
        <form class="d-flex">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle p-2" type="button" id="dropdownMenuButton1" routerLink="/login" data-bs-toggle="dropdown" aria-expanded="false">
                  Logout
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" style="right: 0 !important;left: auto !important;">
                  <li><a class="dropdown-item" >Action</a></li>
                  <li><a class="dropdown-item" >Another action</a></li>
                  <li><a class="dropdown-item" >Something else here</a></li>
                </ul>
              </div>
        </form>
      </div>
    </div>
</nav>
<section class="container">
    <div class="mt-5 row">
        <div class="row">
            <div class="col-md-12">
              <div class="card card-default">
                <div class="card-header">
                  <h3 class="card-title">User Details</h3>
                </div>
                <form [formGroup]="userForm">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-sm-4">
                        <div class="form-group">
                          <label class="form_label">Name</label>
                          <input type="text" class="form-control inputbox_css" 
                                 placeholder="Enter Name" 
                                 formControlName="userName" maxlength="200">
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="form-group">
                          <label class="form_label">Address</label>
                          <input type="text" class="form-control inputbox_css" 
                                 placeholder="Enter Address"
                                 formControlName="address1" maxlength="200">
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="form-group">
                          <label class="form_label">Email ID</label>
                          <input type="text" class="form-control inputbox_css" 
                          placeholder="Enter EmailID"
                          formControlName="emailID" maxlength="200">
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="form-group">
                          <label class="form_label">Mobile Number</label>
                          <input type="text" class="form-control inputbox_css" 
                          placeholder="Enter MobileNo"
                          formControlName="mobileNo" maxlength="200">
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="form-group">
                          <label class="form_label">Description</label>
                          <input type="text" class="form-control inputbox_css" 
                          placeholder="Enter Description"
                          formControlName="description" maxlength="200">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer">
                    <button type="button" (click)="save()" class="btn btn-primary">Save</button>
                    <button type="button" (click)="back()" class="btn btn-default">Back</button>
                  </div>
                </form>
              </div>
            </div>
        </div>
    </div>
</section>